<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>



    <h1>Doro Wot</h1>
   <i>Doro Wat -Ethiopian Chicken Stew -slowly simmered in a blend of robust spices. Easy thick, comforting, delicious, and so easy to make!</i>
<body>
    <ol>
    <li>Cuisine African</li>
    <li>Prep Time 20 minutes</li>
    <li>Cook Time 1 hour</li>
    <li>Total Time 1 hour 20 minutes</li>
    <li>Servings 6</li>
    <li>Calories 471 kcal</li>
        <li>Author Immaculate Bites</li>
        <li> Ingredients</li>
        <li> 3 Tablespoons Spiced butter Sub with Cooking oil or more</li>
        <li>2-3 medium onions sliced</li>
        <li> 1/4 cup canola oil</li>
        <li> 2 Tablespoons Berbere Spice</li>
        <li> 1 Tablespoon minced garlic</li>
        <li>  ½ Tablespoon minced ginger</li>
        <li>  3- 3½- pound whole chicken cut in pieces or chicken thighs</li>
        <li> 1 Tablespoon tomato paste</li>
        <li>  ½ Tablespoon paprika</li>
        <li> 1 Tablespoon dried basil optional</li>
        <li>  4-6 Large soft boiled egg shelled removed</li>
        <li>  1-2 Lemons Freshly Squeezed (adjust to taste)</li>
  <li>  Salt and pepper to taste</li>
</ol>




</body>
</html>