<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>

        body {background-color:lightcyan ;}
        h1   {color: yellow;  }
        p    {color: black;}

    </style>
</head>
<body>
<ul>
    <style>

    </style>
    <h1 style="text-align:center;background-color: green; ">My Recipe Book</h1>
    <p style="text-align:center;background-color: yellow"><i>Design by Haylemelekot Alemneh.</i></p>
    <h3 href=f style="text-align: center;color:black;background-color: red"> Guidance </h3>
<ul>

</ul>


    <nav><h3  style="text-align:center;color:black;background-color: white"> Recipe List </h3></nav>
    <ul>
        <a href="http://localhost:63342/Siphara/templates/dorowot.html?_ijt=sspm0cnfn2lj17cqrq63140spa">Dorowote</a>

        <br/>
        <a href=" https://maryhillintegrationnetwork.wordpress.com/2016/05/11/tibestibsi-traditional-eritreanethiopian-recipe/">Tibes</a>
        <br/>
        <a href="https://recipes.sparkpeople.com/recipe-detail.asp?recipe=545939">Gomen Besga</a>
       <br/>
    </ul>

</ul>
</body>
</html>